<h1><%= @questionnaire.content['header'] %></h1>
<p><%= @questionnaire.content['body']  %></p>

<h2>First question</h2>
<%= link_to "First question", [@questionnaire, @questionnaire.questions.first] %>
